* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* 
got rid of header as a class to follow proper semantics
*/

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* 
replaced div with nav for headers to connect parameters to html doc
*/

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*
moved background image from .css to html to add alt attributes
removed unnecessary background image stylings
*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*
consolidated 3 items with identical formatting
*/

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*
consolidated 3 items with identical formatting
*/

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 
combined 3 benefits elements under one class of benefit
rearranged the order of .css in more appropriate tiers to keep related items together
*/

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* 
combined 3 article elements under one class of feature
*/

.feature {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.feature img {
    max-height: 200px;
}

.feature h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* 
got rid of footer as a class to follow proper semantics
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
